---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="wrap">
    <Header />
    <main>
      <p class="text-2xl text-center">
        Software engineer. Indie hacker. Product builder. <br/>Based in Lagos,
        Nigeria.
      </p>
      <p class="mt-16">
        I love to make things; there is more fun building with people. I write articles about what I’m learning and building on this blog.
        <br/>

        <br/>

        See my <a href="https://aremu.dev">portfolio</a> if you’d love to explore some of the software projects I’ve made.
        <br/>

        <br/>
        You can reach me on Twitter at <a href="https://twitter.com">@madebyaremu</a> or send me an email at
        <a href="mailto://hey@victorare.mu">hey@victorare.mu</a>.
      </p>
      <Footer/>
    </main>
  </body>
</html>
