---
const projects = [
  {
    title: "Menote",
    link: "https://menote.io",
    description: "A tiny notepad that lives in your Mac's menubar.",
  },
  {
    title: "Zap",
    link: "https://usezap.sh",
    description: "A Mac launcher that supercharges your navigation.",
  },
];
---

<section class="mb-10">
  <h1 id="made-by-aremu" class="text-3x font-bold font-serif mb-3">
    Made by Aremu
  </h1>
  <ul>
    {
      projects.map(({ title, link, description }) => (
        <li class="mb-4">
          <h1 class="font-serif text-xl italic">
            <a href={link} class="hover:underline active:opacity-50">
              {title}
            </a>
          </h1>
          <p class="text-base">{description}</p>
        </li>
      ))
    }
  </ul>
</section>
